/**
 * Standards styles
 */
body {
    color: #000000;
    background-color: #FFFFFF;
    padding: 0;
    marging: 0;
}

a:link {
    color: #0000FF;
}

a:visited {
    color: #800080;
}

a:active {
    color: #FF0000;
}

table, img {
    border: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/**
 * Header
 */

.header div {
    clear: both;
    background-color: #DF0451;
    height: 16px;
}

.header h1 {
    color: #FFFFFF;
    background-color: #DF0451;
    margin: 0;
    text-align: center;
    font-size: 130%;
}

.header .left, .header .right {
    height: 16px;
    width: 16px;
}

.header .upper .left {
    width: 15px;
    background-image: url("https://www.debian.org/Pics/red-upperleft.png")
}

.header .upper .right {
    background-image: url("https://www.debian.org/Pics/red-upperright.png")
}

.header .lower .left {
    background-image: url("https://www.debian.org/Pics/red-lowerleft.png")
}

.header .lower .right {
    width: 15px;
    background-image: url("https://www.debian.org/Pics/red-lowerright.png")
}

/**
 * Debian spec.
 */

.logo {
    text-align: center;
    padding-bottom: 2em;
}

.footer img {
    vertical-align: middle;
}
